@import '../../colors.scss';

.bookmarkMainContainer {
    height: 100%;
}

.bookmarkHeader {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    align-items: center;

    .bookmarkTitle {
        color: $neutral-800-dark;
        font-size: 26px;
        font-weight: 600;
    }

    .sortByButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        height: 43px;
        width: 110px;
        border-radius: 10px;
        border: 2px solid $neutral-010;
        background-color: $neutral-0;
        cursor: pointer;

        .sortIcon {
            width: 21px;
        }

        .sortText {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.articles {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

.gridArticles {
    height: 290px;
    width: 360px;
    border-radius: 10px;
    background-color: $neutral-0;
}

.articleHeader {
    border-bottom: 2px solid $neutral-100;
    height: 90px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;

    .articleHeaderImage {
        width: 45px;
        outline: 1.5px solid $neutral-100;
        border-radius: 8px;
        margin-right: 15px;
    }

    .articleHeaderText {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .articleHeaderTextSecondary {
        font-size: 12px;
        color: $neutral-800;
    }


    .articleBookmark {
        margin: auto;
        margin-right: 0px;
        background: none;
        outline: 2px solid $neutral-100;
        height: 30px;
        width: 30px;
        border-radius: 10px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}

.articleBody {
    // outline: 2px solid black;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .articleBodyText {
        color: $neutral-800;
        font-size: 15px;
        margin-bottom: 7px;
    }

    .articleBodyTags {
        display: flex;
        gap: 10px
    }

    .tagOne {
        font-size: 12px;
        background-color: $neutral-100;
        padding: 6px;
        border-radius: 5px;
        color: $neutral-800;

    }
}

.articleFooter {
    display: flex;
    flex-grow: 1;
    border-top: 2px solid $neutral-100;
    gap: 20px;
    margin-top: 20px;

    .footerPin {
        margin: auto;
        margin-top: 15px;
        margin-right: 20px;
    }

    .footerIconContainer {
        display: flex;
        gap: 7px;
        align-items: center;
        margin-top: 15px;
    }

    .footerIcon {
        width: 18px;
    }

    .footerText {
        font-size: 14px;
        color: $neutral-800-dark;
    }

    .special {
        padding-left: 20px;

    }


}