.bookmarkMainContainer {
  height: 100%;
  overflow: scroll;
}

.bookmarkHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  align-items: center;
}
.bookmarkHeader .bookmarkTitle, .bookmarkHeader .searchInputShow, .bookmarkHeader .bookmarkShow {
  color: #001f1f;
  font-size: 26px;
  font-weight: 600;
}
.bookmarkHeader .bookmarkTitleHide {
  display: none;
}
.bookmarkHeader .bookmarkShowHide {
  display: none;
}
.bookmarkHeader .searchInputShowHide {
  display: none;
}
.bookmarkHeader .inputText {
  color: #065a41;
}
.bookmarkHeader .tag-item {
  color: #065a41;
}
.bookmarkHeader .test {
  z-index: 1;
}
.bookmarkHeader .sortByButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 43px;
  width: 110px;
  border-radius: 10px;
  border: 2px solid #c0cfcc;
  background-color: #ffffff;
  cursor: pointer;
}
.bookmarkHeader .sortByButton .sortIcon {
  width: 21px;
}
.bookmarkHeader .sortByButton .sortText {
  font-size: 16px;
  font-weight: 500;
}

.articles {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  padding-bottom: 50px;
}

.gridArticles {
  height: 320px;
  width: 360px;
  border-radius: 10px;
  background-color: #ffffff;
}

.mainArticle {
  height: 320px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.articleHeader {
  border-bottom: 2px solid #e8f0ef;
  height: 90px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.articleHeader .articleHeaderImage {
  width: 45px;
  outline: 1.5px solid #e8f0ef;
  border-radius: 8px;
  margin-right: 15px;
}
.articleHeader .articleHeaderText {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 3px;
}
.articleHeader .articleHeaderTextSecondary {
  font-size: 12px;
  color: #4c5c59;
}
.articleHeader .articleBookmark, .articleHeader .articleBookmarkActive {
  margin: auto;
  margin-right: 0px;
  background: none;
  outline: 2px solid #e8f0ef;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.articleHeader .articleBookmarkActive {
  outline: 2px solid #4c5c59;
}

.articleBody {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
}
.articleBody .articleTextBodyScroll {
  height: 100px;
  overflow: scroll;
}
.articleBody .articleBodyText {
  color: #4c5c59;
  font-size: 15px;
  margin-bottom: 7px;
}
.articleBody .articleBodyTags {
  display: flex;
  gap: 10px;
}
.articleBody .tagOne {
  font-size: 12px;
  background-color: #e8f0ef;
  padding: 6px;
  border-radius: 5px;
  color: #4c5c59;
}

.articleFooter {
  display: flex;
  flex-grow: 1;
  border-top: 2px solid #e8f0ef;
  gap: 20px;
  margin-top: 20px;
  margin: auto;
  margin-right: 0px;
  margin-left: 0px;
  height: 20px;
  align-items: center;
}
.articleFooter .footerPin {
  margin: auto;
  margin-top: 12px;
  margin-right: 20px;
  width: 17px;
}
.articleFooter .footerIconContainer {
  display: flex;
  gap: 7px;
  align-items: center;
}
.articleFooter .footerIcon {
  width: 14px;
}
.articleFooter .footerText {
  font-size: 13px;
  color: #001f1f;
}
.articleFooter .special {
  padding-left: 20px;
}/*# sourceMappingURL=bookmarkPage.css.map */