.bookmarkMainContainer {
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e8f0ef;
  padding: 0rem 2rem 0rem 2rem;
}
.bookmarkMainContainer .bookmarkHeader {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.bookmarkMainContainer .bookmarkHeader .bookmarkTitle, .bookmarkMainContainer .bookmarkHeader .searchInputShow, .bookmarkMainContainer .bookmarkHeader .bookmarkShow {
  color: #001f1f;
  font-size: 26px;
  font-weight: 600;
}
.bookmarkMainContainer .bookmarkHeader .bookmarkTitleHide {
  display: none;
}
.bookmarkMainContainer .bookmarkHeader .bookmarkShowHide {
  display: none;
}
.bookmarkMainContainer .bookmarkHeader .searchInputShowHide {
  display: none;
}
.bookmarkMainContainer .bookmarkHeader .inputText {
  color: #065a41;
}
.bookmarkMainContainer .bookmarkHeader .tag-item {
  color: #065a41;
}
.bookmarkMainContainer .bookmarkHeader .test {
  z-index: 1;
}
.bookmarkMainContainer .bookmarkHeader .sortByButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 43px;
  width: 110px;
  border-radius: 10px;
  border: 2px solid #c0cfcc;
  background-color: #ffffff;
  cursor: pointer;
}
.bookmarkMainContainer .bookmarkHeader .sortByButton .sortIcon {
  width: 21px;
}
.bookmarkMainContainer .bookmarkHeader .sortByButton .sortText {
  font-size: 16px;
  font-weight: 500;
}
.bookmarkMainContainer .bookmarkHeader .sortByButton:hover {
  background-color: transparent;
}
.bookmarkMainContainer .articles, .bookmarkMainContainer .articlesTwoCards {
  display: flex;
  gap: 2.5em;
  max-height: 42rem;
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: center;
  scrollbar-color: #4c5c59 #e8f0ef;
  padding-right: 20px;
  width: 100%;
}
.bookmarkMainContainer .articlesTwoCards {
  justify-content: flex-start;
}
.bookmarkMainContainer .gridArticles {
  border-radius: 10px;
  background-color: #ffffff;
  width: 330px;
}
.bookmarkMainContainer .gridArticles .mainArticle {
  height: 280px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader {
  border-bottom: 2px solid #e8f0ef;
  height: 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleHeaderImage {
  width: 45px;
  outline: 1.5px solid #e8f0ef;
  border-radius: 8px;
  margin-right: 15px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleHeaderText {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 3px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleHeaderTextSecondary {
  font-size: 12px;
  color: #4c5c59;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleBookmark, .bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleBookmarkActive {
  margin: auto;
  margin-right: 0px;
  background: none;
  outline: 2px solid #e8f0ef;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleBookmark:hover, .bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleBookmarkActive:hover {
  background-color: #e8f0ef;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .articleBookmarkActive {
  outline: 2px solid #4c5c59;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleHeader .isArchived {
  position: absolute;
  top: 3.5rem;
  left: 17rem;
  background-color: #e8f0ef;
  font-size: 10px;
  padding: 2px;
  border-radius: 5px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleBody {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 120px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleBody .articleTextBodyScroll {
  height: 100px;
  overflow: scroll;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleBody .articleBodyText {
  color: #4c5c59;
  font-size: 15px;
  margin-bottom: 7px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleBody .articleBodyTags {
  display: flex;
  gap: 10px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleBody .tagOne {
  font-size: 12px;
  background-color: #e8f0ef;
  padding: 6px;
  border-radius: 5px;
  color: #4c5c59;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleFooter {
  display: flex;
  border-top: 2px solid #e8f0ef;
  gap: 20px;
  margin-top: 20px;
  margin-left: 10px;
  height: 50px;
  align-items: center;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleFooter .footerPin {
  margin: auto;
  margin-top: 12px;
  margin-right: 20px;
  width: 17px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleFooter .footerIconContainer {
  display: flex;
  gap: 7px;
  align-items: center;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleFooter .footerIcon {
  width: 14px;
}
.bookmarkMainContainer .gridArticles .mainArticle .articleFooter .footerText {
  font-size: 13px;
  color: #001f1f;
}
@media only screen and (max-width: 432px) {
  .bookmarkMainContainer {
    padding: 0;
  }
  .bookmarkMainContainer .bookmarkHeader {
    justify-content: space-between;
  }
  .bookmarkMainContainer .bookmarkHeader .headCon {
    width: 11rem;
    padding-left: 1.3rem;
  }
  .bookmarkMainContainer .bookmarkHeader .headCon .bookmarkTitle, .bookmarkMainContainer .bookmarkHeader .headCon .bookmarkShow, .bookmarkMainContainer .bookmarkHeader .headCon .searchInputShow {
    font-size: 19px;
  }
  .bookmarkMainContainer .bookmarkHeader .sortByButtonDiv {
    padding-right: 1.3rem;
  }
  .bookmarkMainContainer .gridArticles {
    width: 90%;
  }
  .bookmarkMainContainer .articles, .bookmarkMainContainer .articlesTwoCards {
    padding: 0;
    max-height: 100%;
    margin-bottom: 1rem;
  }
  .bookmarkMainContainer .articlesTwoCards {
    justify-content: center;
  }
}/*# sourceMappingURL=bookmarkPage.css.map */