@import '../../colors.scss';

.bookmarkMainContainer {
    height: calc(100vh - 6rem);
    height: calc(100dvh - 6rem);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $neutral-100;
    padding: 0rem 2rem 0rem 2rem;

    .bookmarkHeader {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .bookmarkTitle {
            color: $neutral-800-dark;
            font-size: 26px;
            font-weight: 600;
        }

        .bookmarkTitleHide {
            display: none;
        }

        .bookmarkShow {
            @extend .bookmarkTitle;

        }

        .bookmarkShowHide {
            display: none;
        }

        .searchInputShow {
            @extend .bookmarkTitle;

        }

        .searchInputShowHide {
            display: none;
        }

        .inputText {
            color: $neutral-500-dark;
        }

        .tag-item {
            color: $neutral-500-dark;
        }

        .test {
            z-index: 1;
        }

        .sortByButton {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            height: 43px;
            width: 110px;
            border-radius: 10px;
            border: 2px solid $neutral-010;
            background-color: $neutral-0;
            cursor: pointer;

            .sortIcon {
                width: 21px;
            }

            .sortText {
                font-size: 16px;
                font-weight: 500;
            }

            &:hover {
                background-color: transparent;
            }
        }
    }

    .articles {
        max-height: 100%;
        overflow: scroll;
        scrollbar-color: $neutral-800 $neutral-100;
        width: 100%;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        justify-content: space-evenly;
        gap: 20px;


        .gridArticles {
            border-radius: 10px;
            background-color: $neutral-0;



            .mainArticle {
                height: 280px;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                position: relative;

                .articleHeader {
                    border-bottom: 2px solid $neutral-100;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    margin-left: 10px;
                    margin-right: 10px;

                    .articleHeaderImage {
                        width: 45px;
                        outline: 1.5px solid $neutral-100;
                        border-radius: 8px;
                        margin-right: 15px;
                    }

                    .articleHeaderText {
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 3px;
                    }

                    .articleHeaderTextSecondary {
                        font-size: 12px;
                        color: $neutral-800;
                    }


                    .articleBookmark {
                        margin: auto;
                        margin-right: 0px;
                        background: none;
                        outline: 2px solid $neutral-100;
                        height: 30px;
                        width: 30px;
                        border-radius: 10px;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        &:hover {
                            background-color: $neutral-100
                        }
                    }

                    .articleBookmarkActive {
                        @extend .articleBookmark;
                        outline: 2px solid $neutral-800;
                    }

                    .isArchived {
                        position: absolute;
                        top: 3.5rem;
                        left: 17rem;
                        background-color: $neutral-100;
                        font-size: 10px;
                        padding: 2px;
                        border-radius: 5px;
                    }

                }

                .articleBody {
                    margin-top: 15px;
                    margin-left: 10px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    height: 120px;


                    .articleTextBodyScroll {
                        height: 100px;
                        overflow: scroll;
                    }

                    .articleBodyText {
                        color: $neutral-800;
                        font-size: 15px;
                        margin-bottom: 7px;
                    }

                    .articleBodyTags {
                        display: flex;
                        gap: 10px
                    }

                    .tagOne {
                        font-size: 12px;
                        background-color: $neutral-100;
                        padding: 6px;
                        border-radius: 5px;
                        color: $neutral-800;

                    }
                }

                .articleFooter {
                    display: flex;
                    // flex-grow: 1;
                    border-top: 2px solid $neutral-100;
                    gap: 20px;
                    margin-top: 20px;
                    margin-left: 10px;
                    height: 50px;
                    align-items: center;

                    .footerPin {
                        margin: auto;
                        margin-top: 12px;
                        margin-right: 20px;
                        width: 17px;
                    }

                    .footerIconContainer {
                        display: flex;
                        gap: 7px;
                        align-items: center;
                        // margin-top: 15px;
                    }

                    .footerIcon {
                        width: 14px;
                    }

                    .footerText {
                        font-size: 13px;
                        color: $neutral-800-dark;
                    }
                }
            }
        }
    }

    .articlesTwoCards {
        @extend .articles;
        justify-content: flex-start;
        grid-template-columns: repeat(auto-fit, 330px);
    }
}

@media only screen and (max-width: 432px) {
    .bookmarkMainContainer {
        height: calc(100vh - 4rem);
        height: calc(100dvh - 4rem);
        padding: 5px;

        .bookmarkHeader {
            justify-content: space-between;

            .headCon {
                width: 11rem;
                // padding-left: 1.3rem;

                .bookmarkTitle {
                    font-size: 19px;
                }
            }

            .sortByButtonDiv {
                // padding-right: 1.3rem;
            }
        }

        .gridArticles {
            // width: 90%;
        }

        .articles {
            padding: 0;
            max-height: 100%;
            margin-bottom: 1rem;
        }

        .articlesTwoCards {
            justify-content: center;
        }
    }

}

//Tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .bookmarkMainContainer {
        height: calc(100vh - 6rem);
        height: calc(100dvh - 6rem);
        .articles {
            max-height: 100%;
            margin-bottom: 1rem;
        }

        .gridArticles {
            // width: 47%;
        }
    }
}

//Laptops
@media (min-width: 1024px) and (max-width: 1920px) and (orientation: landscape) {
    // .bookmarkMainContainer {
    //     // .articles {
    //     //     outline: 2px solid black;
    //     //     max-height: 100%;
    //     //     margin-bottom: 1rem;
    //     // }
    // }
}
