@import '../../colors.scss';

.resetPasswordMainContainer {
    background-color: $neutral-100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .resetPasswordContainer {
        width: 25rem;
        height: auto;
        border-radius: 10px;
        background-color: $neutral-0;
        padding: 2rem;

        .resetPasswordInfoContainer {
            margin-bottom: 2rem;

            .resetPasswordHeaderIcon {
                width: 18rem;
                margin-bottom: 1.5rem;
            }

            .resetPasswordHeading {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .resetPasswordPara {
                color: $neutral-800;
            }
        }

        .resetPasswordForm {
            height: auto;

            .formFieldContainer {

                .formFields {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: 15px;

                    .resetPasswordLabel {
                        font-weight: 500;
                        font-size: 16px;

                        .resetPasswordArticks {
                            color: $neutral-400-dark;
                        }
                    }

                    .formErrorText {
                        color: $red-600;
                        font-size: 15px;
                    }
                }

                .formInput {
                    height: 2.8rem;
                    border-radius: 8px;
                    border: 2px solid $neutral-010;
                    font-size: 18px;
                    padding-left: 10px;

                    &:focus {
                        border: 2px solid $neutral-400-dark;
                        outline: none;
                    }
                }

                .formErrorBorder {
                    @extend .formInput;
                    border: 2px solid $red-800;
                }
            }

            .formButtonContainer {
                margin-bottom: 2rem;
                margin-top: 1rem;

                .resetPasswordSubmit {
                    width: 100%;
                    height: 2.8rem;
                    cursor: pointer;
                    border-radius: 10px;
                    color: $neutral-0;
                    background-color: $neutral-600-dark;
                    font-size: 16px;
                }
            }

            .resetPasswordFooterText {
                text-align: center;
                color: $neutral-800;
                font-size: 16px;

                .resetPasswordLogin {
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}

//Mobile Devices
@media only screen and (max-width: 432px) {
    .resetPasswordMainContainer {
        padding: 1.5rem 1rem;

        .resetPasswordContainer {
            width: 100%;
            padding: 1.5rem;

            .resetPasswordInfoContainer {
                .resetPasswordHeaderIcon {
                    width: 12rem;
                }

                .resetPasswordHeading {
                    font-size: 1.5rem;
                }
            }

            .resetPasswordForm {
                .formFieldContainer {
                    .formInput {
                        height: 2.5rem;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

//Tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .resetPasswordMainContainer {
        .resetPasswordContainer {
            width: 70%;
        }
    }
}
