@import "../colors.scss";

body {
  height: 100vh;
  background-color: $neutral-100;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2px;
  height: 100vh;
}

.gridOne {
  display: flex;
  flex-direction: column;
  height: 100vh;
  grid-row: 1 / span 2;
  outline: none;
}

.gridTwo {
  height: 100px;
  grid-column: 2 / span 1;
  background-color: $neutral-0;

}

.gridThree {
  height: 750px;
  width: 100%;
  grid-column: 2 / span 1;
}