@import "../colors.scss";

.container {
  display: grid;
  grid-template-columns: 22rem 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar mainPage";
  height: 100vh;

  .gridTwo {
    outline: 2px solid #c0cfcc;
  }

  .gridThree {
    outline: 2px solid #c0cfcc;
  }
}