@import "../colors.scss";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar mainPage";
  height: 100vh;

  .gridOne {
    width: 22rem;
  }

  .gridTwo {
    outline: 2px solid #c0cfcc;
  }

  .gridThree {
    outline: 2px solid #c0cfcc;
  }
}

// @media only screen and (max-width: 425px) {
//   .container {
//     background-color: aqua;
//   }
// }