@import "../colors.scss";

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar mainPage";
  height: 100vh;

  .gridOne {
    // width: auto;
  }

  .gridTwo {
    outline: 2px solid #c0cfcc;
  }

  .gridThree {
    outline: 2px solid #c0cfcc;
  }
}

//Mobile Devices
@media only screen and (max-width: 432px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
      "header"
      "mainPage";

    .gridOne {
      overflow: auto;
      position: fixed;
      z-index: 1;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: flex-start;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

//Tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .gridOne {
    overflow: auto;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}