@import '../../colors.scss';

.registerMainContainer {
    background-color: $neutral-100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .registerContainer {
        width: 25rem;
        height: auto;
        border-radius: 10px;
        background-color: $neutral-0;
        padding: 2rem;

        .registerErrorContainer {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

            .registerError {
                color: $red-800;
                font-weight: 600;
            }
        }

        .registerInfoContainer {
            margin-bottom: 1rem;

            .registerHeaderIcon {
                width: 18rem;
                margin-bottom: 1.5rem;
            }

            .registerHeading {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .registerPara {
                color: $neutral-800;
            }
        }

        .registerForm {
            height: auto;

            .formFieldContainer {

                .formFields {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: 15px;

                    .registerLabel {
                        font-weight: 500;
                        font-size: 16px;

                        .registerArticks {
                            color: $neutral-400-dark;
                        }
                    }

                    .formErrorText {
                        color: $red-600;
                        font-size: 15px;
                    }
                }

                .formInput {
                    height: 2.8rem;
                    border-radius: 8px;
                    border: 2px solid $neutral-010;
                    font-size: 18px;
                    padding-left: 10px;

                    &:focus {
                        border: 2px solid $neutral-400-dark;
                        outline: none;
                    }
                }

                .formErrorBorder {
                    @extend .formInput;
                    border: 2px solid $red-800;
                }
            }

            .formButtonContainer {
                margin-bottom: 2rem;
                margin-top: 1rem;

                .registerSubmit {
                    width: 100%;
                    height: 2.8rem;
                    cursor: pointer;
                    border-radius: 10px;
                    color: $neutral-0;
                    background-color: $neutral-600-dark;
                    font-size: 16px;
                }
            }

            .registerFooterText {
                text-align: center;
                color: $neutral-800;
                font-size: 16px;

                .registerLogin {
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}

//Mobile Devices
@media only screen and (max-width: 432px) {
    .registerMainContainer {
        padding: 1.5rem 1rem;

        .registerContainer {
            width: 100%;
            padding: 1.5rem;

            .registerInfoContainer {
                .registerHeaderIcon {
                    width: 12rem;
                }

                .registerHeading {
                    font-size: 1.5rem;
                }
            }

            .registerForm {
                .formFieldContainer {
                    .formInput {
                        height: 2.5rem;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

//Tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .registerMainContainer {
        .registerContainer {
            width: 70%;
        }
    }
}