.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .mainModal {
  height: 700px;
  width: 500px;
  position: absolute;
  top: 6%;
  left: 35%;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  padding-top: 0;
}
.modal .mainModal .formHeader {
  height: auto;
}
.modal .mainModal .formHeader .formTitle {
  font-size: 32px;
  font-weight: 550;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.modal .mainModal .formHeader .formInfo {
  color: #4c5c59;
  font-size: 17px;
  line-height: 140%;
}
.modal .mainModal .formContainer {
  height: 500px;
}
.modal .mainModal .formContainer .modalForm {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .formLabel {
  font-size: 16px;
  font-weight: 600;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .formLabel .articks {
  font-size: 20px;
  color: #4c5c59;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .formInput {
  height: 50px;
  border-radius: 10px;
  border: 2px solid #c0cfcc;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .formInput:focus {
  outline: 3px solid #61b999;
  font-size: 17px;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .textarea {
  height: 120px;
  resize: none;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .textarea:focus {
  padding-top: 5px;
}
.modal .mainModal .formContainer .modalForm .formLabelContainer .wordCount {
  font-size: 14px;
  color: #4c5c59;
  margin-left: 430px;
  height: 15px;
  width: 67px;
  text-align: end;
}
.modal .mainModal .formControls {
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
  align-items: center;
}
.modal .mainModal .formControls .cancelButton {
  height: 45px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid #c0cfcc;
  background: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.modal .mainModal .formControls .formAddBookmark {
  height: 45px;
  width: 160px;
  border-radius: 10px;
  background-color: #001f1f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.modal .mainModal .closeIconImage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 31.5rem;
  bottom: 42rem;
  border: 2px solid #c0cfcc;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.modal .mainModal .closeIconImage .closeImage {
  height: 23px;
  width: 23px;
}/*# sourceMappingURL=modal.css.map */