* {
  padding: 0;
  margin: 0;
}

.sideBarMainContainer {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem 0rem 1rem;
  gap: 1.9rem;
  background-color: #ffffff;
  height: 100%;
}
.sideBarMainContainer .imageContainerHome {
  padding-top: 1rem;
}
.sideBarMainContainer .imageContainerHome .logo {
  width: 250px;
  max-width: 100%;
}
.sideBarMainContainer .closeIconSidebar {
  display: none;
}
.sideBarMainContainer .activate .homeIconContainer, .sideBarMainContainer .activate .archiveIconContainer, .sideBarMainContainer .activate .archiveIconContainerActive, .sideBarMainContainer .activate .homeIconContainerActive {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  height: 35px;
  border-radius: 5px;
  padding-left: 10px;
}
.sideBarMainContainer .activate .homeIconContainer:hover, .sideBarMainContainer .activate .archiveIconContainer:hover, .sideBarMainContainer .activate .archiveIconContainerActive:hover, .sideBarMainContainer .activate .homeIconContainerActive:hover {
  background-color: #e8f0ef;
}
.sideBarMainContainer .activate .homeIconContainer .homeIcon, .sideBarMainContainer .activate .archiveIconContainer .homeIcon, .sideBarMainContainer .activate .archiveIconContainerActive .homeIcon, .sideBarMainContainer .activate .archiveIconContainer .archiveIcon, .sideBarMainContainer .activate .archiveIconContainerActive .archiveIcon, .sideBarMainContainer .activate .homeIconContainerActive .homeIcon {
  width: 21px;
}
.sideBarMainContainer .activate .homeIconContainer .homeIconText, .sideBarMainContainer .activate .archiveIconContainer .homeIconText, .sideBarMainContainer .activate .archiveIconContainerActive .homeIconText, .sideBarMainContainer .activate .archiveIconContainer .archiveIconText, .sideBarMainContainer .activate .archiveIconContainerActive .archiveIconText, .sideBarMainContainer .activate .homeIconContainerActive .homeIconText {
  margin-top: 2px;
  font-weight: 400;
  font-size: 18px;
  color: #001f1f;
}
.sideBarMainContainer .activate .homeIconContainerActive {
  background-color: #e8f0ef;
  outline: 2px solid #4c5c59;
}
.sideBarMainContainer .activate .archiveIconContainer, .sideBarMainContainer .activate .archiveIconContainerActive {
  margin-bottom: 0;
}
.sideBarMainContainer .activate .archiveIconContainerActive {
  background-color: #e8f0ef;
  outline: 2px solid #4c5c59;
}
.sideBarMainContainer .tagsNav {
  height: 40rem;
}
.sideBarMainContainer .tagsNav .tagheaderCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-bottom: 0.6rem;
}
.sideBarMainContainer .tagsNav .tagheaderCon .tagsHeader {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #001913;
}
.sideBarMainContainer .tagsNav .tagheaderCon .resetButton {
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  margin-bottom: 10px;
  font-size: 14px;
  color: #4c5c59;
}
.sideBarMainContainer .tagsNav .tagsMainContainer {
  overflow: scroll;
  height: 38rem;
  padding: 2px 10px 2px 2px;
  width: 100%;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags input[type=checkbox] {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  outline: 2px solid #8b8492;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags input[type=checkbox]:hover {
  background-color: #e8f0ef;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags input[type=checkbox]::after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  background-image: url("../../assets/Images/icons8-done-24.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags input[type=checkbox]:checked {
  background-color: #001f1f;
  outline: 2px solid #001f1f;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags input[type=checkbox]:checked::after {
  display: block;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags .tagsLabel {
  font-size: 17px;
  font-weight: 400;
  color: #001f1f;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags .tagsCount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #e8f0ef;
}
.sideBarMainContainer .tagsNav .tagsMainContainer .ulTags .liTags .tagsCount .tagsCountText {
  font-size: 14px;
  color: #001f1f;
}

@media only screen and (max-width: 425px) {
  .sideBarMainContainer {
    width: 80%;
  }
  .sideBarMainContainer .closeIconSidebar {
    display: block;
    width: 30px;
    position: absolute;
    left: 19rem;
    cursor: pointer;
    top: 1.3rem;
  }
}/*# sourceMappingURL=sideBarStyles.css.map */