@import '../../colors.scss';

.loginMainContainer {
    background-color: $neutral-100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginContainer {
        width: 25rem;
        height: auto;
        border-radius: 10px;
        background-color: $neutral-0;
        padding: 2rem;

        .loginInfoContainer {
            margin-bottom: 1rem;

            .loginHeaderIcon {
                width: 18rem;
                margin-bottom: 1.5rem;
            }

            .loginHeading {
                font-size: 1.8rem;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .loginPara {
                color: $neutral-800;
            }
        }

        .loginForm {
            height: auto;

            .formFieldContainer {

                .formFields {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: 15px;

                    .loginLabel {
                        font-weight: 500;
                        font-size: 16px;

                        .loginArticks {
                            color: $neutral-400-dark;
                        }
                    }

                    .formErrorText {
                        color: $red-600;
                        font-size: 15px;
                    }
                }

                .formInput {
                    height: 2.8rem;
                    border-radius: 8px;
                    border: 2px solid $neutral-010;
                    font-size: 18px;
                    padding-left: 10px;

                    &:focus {
                        border: 2px solid $neutral-400-dark;
                        outline: none;
                    }
                }

                .formErrorBorder {
                    @extend .formInput;
                    border: 2px solid $red-800;
                }
            }

            .formButtonContainer {
                margin-bottom: 2rem;
                margin-top: 1rem;

                .loginSubmit {
                    width: 100%;
                    height: 2.8rem;
                    cursor: pointer;
                    border-radius: 10px;
                    color: $neutral-0;
                    background-color: $neutral-600-dark;
                    font-size: 16px;
                }
            }

            .loginFooterText {
                text-align: center;
                color: $neutral-800;
                font-size: 16px;

                .loginLogin {
                    color: black;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        .loginErrorContainer {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

            .loginError {
                color: $red-800;
                font-weight: 600;
            }
        }


    }
}

//Mobile Devices
@media only screen and (max-width: 432px) {
    .loginMainContainer {
        padding: 1.5rem 1rem;

        .loginContainer {
            width: 100%;
            padding: 1.5rem;

            .loginInfoContainer {
                .loginHeaderIcon {
                    width: 12rem;
                }

                .loginHeading {
                    font-size: 1.5rem;
                }
            }

            .loginForm {
                .formFieldContainer {
                    .formInput {
                        height: 2.5rem;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

//Tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .loginMainContainer {
        .loginContainer {
            width: 70%;
        }
    }
}