@import '../../colors.scss';

.optionPopupMainContainer {
    position: absolute;
    top: 5rem;
    left: 7rem;
    background-color: white;
    height: 200px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: 2px solid #c0cfcc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;

    .optionContents {
        display: flex;
        align-items: center;
        gap: 10px;

        .optionContentsText {
            color: $neutral-800;
        }
    }
}

.opActive {
    @extend .optionPopupMainContainer;
    height: 150px;
}