// colors.scss

// Neutral Light Mode
$neutral-900: #001913;
$neutral-800: #4c5c59;
$neutral-500: #8b8492;
$neutral-400: #cdcfcc;
$neutral-300: #dd9bf7;
$neutral-100: #e8f0ef;
$neutral-0: #ffffff;

// Neutral Dark Mode
$neutral-900-dark: #001814;
$neutral-800-dark: #001f1f;
$neutral-600-dark: #002e2d;
$neutral-500-dark: #065a41;
$neutral-400-dark: #065746;
$neutral-300-dark: #0d706e;
$neutral-100-dark: #61b999;
$neutral-0-dark: #ffffff;

// Teal
$teal-700: #014745;
$teal-600: #013c3b;

// Red
$red-600: #c4474c;
$red-800: #cb0404;
