.headerMainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  height: 100%;
  width: auto;
}
.headerMainContainer .headerHamburgerContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}
.headerMainContainer .headerHamburgerContainer .hamburgerButton {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 3px solid #e8f0ef;
  background: none;
  cursor: pointer;
}
.headerMainContainer .headerHamburgerContainer .hamburgerButton .hamburgerImage {
  max-width: 100%;
  height: auto;
  height: 1.5rem;
  width: 1.5rem;
}
.headerMainContainer .headerHamburgerContainer .hamburgerButton:hover {
  background-color: #e8f0ef;
}
.headerMainContainer .headerHamburgerContainer .searchBar {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  padding-left: 41px;
  background-image: url("/Images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px 13px;
  background-size: 23px;
  border: 3px solid #e8f0ef;
  cursor: pointer;
  font-size: 18px;
  color: #4c5c59;
}
.headerMainContainer .headerHamburgerContainer .searchBar:hover {
  background-color: #e8f0ef;
}
.headerMainContainer .headerHamburgerContainer .searchBar:focus {
  outline: 2px solid #4c5c59;
}
.headerMainContainer .headerHamburgerContainer .searchBar::-moz-placeholder {
  font-size: 18px;
  color: #4c5c59;
}
.headerMainContainer .headerHamburgerContainer .searchBar::placeholder {
  font-size: 18px;
  color: #4c5c59;
}
.headerMainContainer .profileContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 260px;
  align-items: center;
}
.headerMainContainer .profileContainer .addBookmark .bookmarkButton, .headerMainContainer .profileContainer .addBookmarkActive .bookmarkButton {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #001f1f;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 300;
  cursor: pointer;
  border: none;
}
.headerMainContainer .profileContainer .addBookmarkActive {
  outline: 2px solid #001f1f;
  border-radius: 10px;
  padding: 1.5px;
}
.headerMainContainer .profileContainer .addIcon {
  filter: brightness(0) invert(1);
}
.headerMainContainer .profileContainer .profile, .headerMainContainer .profileContainer .profileBorder {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.headerMainContainer .profileContainer .profile .profileImage, .headerMainContainer .profileContainer .profileBorder .profileImage {
  width: 45px;
}
.headerMainContainer .profileContainer .profileBorder {
  border: 2px solid #001f1f;
  border-radius: 50%;
  padding: 2px;
}

@media only screen and (max-width: 425px) {
  .headerMainContainer {
    width: 100%;
    padding: 0;
    gap: 10px;
    justify-content: center;
  }
  .headerMainContainer .headerHamburgerContainer {
    gap: 10px;
  }
  .headerMainContainer .headerHamburgerContainer .hamburgerButton {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  .headerMainContainer .headerHamburgerContainer .searchBar {
    width: 150px;
    height: 36px;
    background-position: 12px 9px;
    background-size: 20px;
    font-size: 13px;
  }
  .headerMainContainer .headerHamburgerContainer .searchBar::-moz-placeholder {
    font-size: 13px;
  }
  .headerMainContainer .headerHamburgerContainer .searchBar::placeholder {
    font-size: 13px;
  }
  .headerMainContainer .profileContainer {
    justify-content: flex-start;
  }
  .headerMainContainer .profileContainer .addBookmark .bookmarkButton, .headerMainContainer .profileContainer .addBookmarkActive .bookmarkButton {
    width: 40px;
    height: 40px;
  }
  .headerMainContainer .profileContainer .addBookmark .bookmarkButton .addBTextM, .headerMainContainer .profileContainer .addBookmarkActive .bookmarkButton .addBTextM {
    display: none;
  }
  .headerMainContainer .profileContainer .profile .profileImage, .headerMainContainer .profileContainer .profileBorder .profileImage {
    width: 42px;
  }
}/*# sourceMappingURL=headerSearchBar.css.map */